// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c_links{
  text-align: right;
}

.directory{
  text-align: left;
}

.body {
  background-color: #95a5a6;
}
