.body {
  background: #d1d8e0;
}

#home_title {
  background-color: #d1d8e0;
  font-style: italic;
  text-decoration: underline;
}

.home-links {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  text-align: right;
  width: 150px;


  &__link {
    display: block;
    color: #f7b731;
  }
}


h2{
  font-style: italic;
  font-size: 23px;
  text-align: center;
}

h3{
  text-align: center;
  font-style: italic;
  font-size: 19px;
  padding: inherit;
}

.ims_home{
  text-align: center;
}
